.description {
  margin-top: 30px;
  font-size: 18px;
}

hr {
  margin-top: 30px;
}

.blocks {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  &_item {
      width: 360px;
      padding: 20px;
      border: 1px solid rgba(0,0,0, .1);
      box-shadow: 0 0 40px rgba(0,0,0,.2);
      img {
          width: 100%;
      }
      &__descr {
          margin-top: 10px;
      }
  }
}

.footer {
  padding-top: 50px;
}
.footer__copy {
  text-align: center;
  font-size: 12px;
}